@import "editable/editable";

.grid-view {
  table.table {
    margin: 0;
    background-color: #fff;
    td {
      border: 1px solid #ddd;
      padding: 0;
      white-space: nowrap;

      input {
        display: block;
        border: 0;
        padding: 4px;
        width: 100%;
        background-color: transparent;
        &:focus {
          outline: 1px solid #00a65a;
        }
      }

      &.has-error input {
        border: 1px solid #a94442;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      }
    }
  }
}

.grid-view__action-column {
  &, .btn-group {
    white-space: nowrap;
  }
  .btn-group {
    display: flex;
  }
}