.grid-input {

}
.highlight-changes {
  background-color: rgb(222, 218, 158) !important;
  transition: background-color .5s !important;
}
.highlight-changes_ok {
  background-color: rgba(60, 60, 221, 0) !important;
  transition: background-color .5s !important;
}